/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 22px;
}
body{
  min-height: 100vh;
  font-family: 'Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Hello San-serif';
  -webkit-font-smoothing:antialised;
  -moz-osx-font-smoothing:Grayscale;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh  -2px);
  max-width: 500px;
  /* border: 1px solid blue; */